<!DOCTYPE html>
{% load static %}


<html lang="en">

    <head>
        <meta charset="utf-8" />
        <title>Metronic Admin Theme #1 | Admin Dashboard</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta content="width=device-width, initial-scale=1" name="viewport" />
        <meta content="Preview page of Metronic Admin Theme #1 for statistics, charts, recent events and reports" name="description" />
        <meta content="" name="author" />
        {% include '_head_css.html' %}
        {% block custom_head_css %} {% endblock %}
        <link rel="shortcut icon" href="favicon.ico" /> </head>


    <body class="page-header-fixed page-sidebar-closed-hide-logo page-content-white">
        <div class="page-wrapper">

            <div class="page-header navbar navbar-fixed-top">

                <div class="page-header-inner ">

                    <div class="page-logo">
                        <a href="index.html">
                            <img src="{% static  '/layouts/layout/img/logo.png' %}" alt="logo" class="logo-default" /> </a>
                        <div class="menu-toggler sidebar-toggler">
                            <span></span>
                        </div>
                    </div>

                    <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse">
                        <span></span>
                    </a>

                    <div class="top-menu">
                        <ul class="nav navbar-nav pull-right">


                            {% include '_user_profile.html' %}


                            <li class="dropdown dropdown-quick-sidebar-toggler">
                                <a href="javascript:;" class="dropdown-toggle">
                                    <i class="icon-logout"></i>
                                </a>
                            </li>

                        </ul>
                    </div>

                </div>

            </div>

            <div class="clearfix"> </div>

            <div class="page-container">

             {% include '_left_side_bar.html' %}
             {% block content %}{% endblock %}

            </div>
        {% include '_footer.html' %}
         
        </div>
        
        <!--[if lt IE 9]>
<script src="../assets/global/plugins/respond.min.js"></script>
<script src="../assets/global/plugins/excanvas.min.js"></script> 
<script src="../assets/global/plugins/ie8.fix.min.js"></script> 
<![endif]-->
{% include '_base_js.html' %}
{% block custom_footer_js %} {% endblock %}
        <script>
            $(document).ready(function()
            {
                $('#clickmewow').click(function()
                {
                    $('#radio1003').attr('checked', 'checked');
                });
            })
        </script>
    </body>

</html>